.game__container {
    height: 250px;
    width: 250px;
    background-color: var(--primary-color-dark-light);
    margin-bottom: var(--padding-medium);
    display: flex;
    flex-wrap: wrap;
}

.game__item {
    height: 50px;
    width: 50px;
    box-sizing: border-box;
    border: 1px solid var(--primary-color-light);
}

/* .game__item:nth-child(1),
.game__item:nth-child(7),
.game__item:nth-child(13),
.game__item:nth-child(19),
.game__item:nth-child(25) {
    background-color: var(--secondary-color-dark);
} */

.game__item:nth-child(6n-5) {
    background-color: var(--secondary-color-dark);
}