/* https://stackoverflow.com/questions/40722882/css-native-variables-not-working-in-media-queries */
:root {
    --primary-color-dark: #111;
    --secondary-color-dark: #364958;
    --primary-color-dark-light: #3B6064;
    --primary-color-accent: #FF8552;
    --secondary-color-accent: #E8DB7D;
    --primary-color-light: #fff;
    --padding-medium: 20px;
}

@import './game.css';

@font-face {
    font-family: "custom-name-of-imported-font";
    /* remember the dot */
    src: url('../assets/fonts/Montserrat/Montserrat-Black.ttf');
}


@font-face {
    font-family: "custom-name-of-imported-font-regular";
    /* remember the dot */
    src: url('../assets/fonts/Montserrat/Montserrat-Regular.ttf');
}

body {
    background-color: var(--secondary-color-dark);
    font-family: "custom-name-of-imported-font";
    color: var(--primary-color-dark);
    padding: 0 var(--padding-medium);
}

p {
    font-family: "custom-name-of-imported-font-regular";
}

.text__box {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    border-radius: 10px;
    border: 1px solid var(--primary-color-light);
    padding: var(--padding-medium);
    color: var(--primary-color-light);
    margin-bottom: var(--padding-medium);
}

.text__box p {
    white-space: normal;
    /* word-break: break-all; */
    margin-top: 80px;
    margin-bottom: 70px;
}

.text__box p:first-child {
    margin-top: 20px;
}

.text__box p:last-child {
    margin-bottom: 20px;
}

.text__box p:nth-child(1):hover {
    color: var(--primary-color-accent);
}

.text__box p:nth-child(2):hover {
    color: var(--secondary-color-accent);
}

.text__box p:nth-child(3):hover {
    color: var(--primary-color-dark-light);
}

.image__box {
    height: 100vh;
    background-color: var(--primary-color-light);
    background-image: url('../assets/img/hero-image.jpg');
    background-position: top;
    background-size: contain;
    /* background-repeat: no-repeat; */
}

@media only screen and (min-width: 1200px) {
    .image__box {
        background-size: cover;
    }
}
